@font-face {
    font-family: 'Pixel';
    src: url(../../assets/upheavtt.ttf);
}

@keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
  }

#about{
    min-height: 100vh;
    height: auto;
    width: auto;
    padding:none;
    background-color: black;
    background-image: url(https://i.imgur.com/5VspCSA.gif);
    background-position:center;
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-size:auto;
    color: #fff;
    
}

#about .title {
    text-align:center;
    font-family: 'Pixel';
    font-size: 60px;
    color:limegreen;
    padding: 10px;
    margin-top: 0;
    animation: example 1s linear forwards;
    
}
#about .splash{
    text-align:center;
    font-family:'Pixel';
    font-size: 40px;
    color:aliceblue;
    padding: 10px;
    margin: 50px;
    opacity: 0;
    animation: example 1s ease forwards;
    animation-delay: 1s;
    
}

html{
    height: 100vh;
}



