#homepageonly .title {
    text-align:center;
    font-size: 60px;
    color: aliceblue;
    padding: 8px;
    margin: 130px;
}
#homepageonly .splash{
    text-align:center;
    font-size: 40px;
    color: aliceblue;
    padding: 30px;
    margin: 100px;
}