#navbaronly .title {
    text-align:center;
    font-size: 60px;
    color: aliceblue;
    padding: 8px;
    margin: 130px;
}
#navbaronly .splash{
    text-align:center;
    font-size: 40px;
    color: aliceblue;
    padding: 30px;
    margin: 100px;
}

#navbaronly body {
    overflow-x: hidden;
    font-family: Sans-Serif;
    margin: 0;
    background-color: #1f1f38;
  }
  
  #navbaronly .menu-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    background: #000000;
    color: #cdcdcd;
    padding: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
  }
  
  #navbaronly .menu-logo {
    line-height: 0;
    margin: 0 20px;
  }
  
  #navbaronly .menu-logo img {
    max-height: 40px;
    max-width: 100px;
    flex-shrink: 0;
  }
  
  #navbaronly .menu-container a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;
  }
  
  #navbaronly .menu-container a:hover {
    color: #00C6A7;
  }
  
  #navbaronly .menu-container input {
    display: block;
    width: 35px;
    height: 25px;
    margin: 0;
    position: absolute;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  
  /* Burger menu */
  #navbaronly .menu-container span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #navbaronly .menu-container span:first-child {
    transform-origin: 0% 0%;
  }
  
  #navbaronly .menu-container span:nth-child(3) {
    transform-origin: 0% 100%;
  }
  
  #navbaronly  .menu-container input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(3px,-1px);
    background: #000000;
  }
  
  #navbaronly .menu-container input:checked ~ span:nth-child(4) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #navbaronly .menu-container input:checked ~ span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px,11px);
  }
  
  #navbaronly .menu ul {
    list-style: none;
  }
  
  #navbaronly .menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  
  /* mobile styles */
  @media only screen and (max-width: 714px) { 
    #navbaronly .menu-container {
      flex-direction: column;
      align-items: flex-start;
    }
    
    #navbaronly .menu-logo {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  
    #navbaronly .menu-logo img {
      max-height: 30px;
    }
  
    #navbaronly .menu {
      position: absolute;
      box-sizing: border-box;
      width: 300px;
      left: -300px;
      top: 0;
      margin: -20px;
      padding: 75px 50px 50px;
      background: #cdcdcd;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */
      transform-origin: 0% 0%;
      transform: translateX(0%);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
  
    #navbaronly .menu-container input:checked ~ .menu {
      transform: translateX(100%);
    }
  }
  
  /* desktop styles */
  @media only screen and (min-width: 715px) { 
    #navbaronly .menu-container {
      width: 100%;
    }
  
    #navbaronly .menu-container a {
      color: #cdcdcd;
    }
  
    #navbaronly .menu-container input {
      display: none;
    }
  
    /* Burger menu */
    #navbaronly .menu-container span {
      display: none;
    }
  
    #navbaronly .menu {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  
    #navbaronly .menu ul {
      display: flex;
      padding: 0;
    }
  
    #navbaronly .menu li {
      padding: 0 20px;
    }

  }
